extends ../tmpl.pug
block main
    h1 Edit: #{title}
    - const renderBreakpoints = locals.templateFn
    figure(class="admin-image center")
        img(sizes="(min-width: 1140px) 25vw, (min-width:500px) 50vw, 100vw"
        srcset=`${renderBreakpoints(gallery.image.breakpoints)}`
        src=gallery.image.secure_url
        alt=gallery.description)
    form(class="form" action="/admin/edit" method="POST" enctype="multipart/form-data" accept="image/*")
        input(type="hidden" name="galleryId" value=gallery._id )
        fieldset
            label(for="image") Image
                span 
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" viewBox="0 0 50 50"><path fill="#231F20" d="M10.289 32.996a1 1 0 00-1 1v6.133a1 1 0 001 1h28a1 1 0 001-1v-6.133a1 1 0 10-2 0v5.133h-26v-5.133a1 1 0 00-1-1z"/><path fill="#231F20" d="M24.333 34.996a1 1 0 001-1v-21.51l6.343 6.127a.996.996 0 001.413-.024 1 1 0 00-.024-1.414l-8.023-7.751-.002-.002-.013-.012c-.036-.035-.081-.05-.12-.078-.064-.046-.123-.097-.196-.127a.997.997 0 00-.357-.072c-.007 0-.014-.004-.021-.004s-.014.004-.021.004a1.001 1.001 0 00-.357.072c-.073.03-.132.081-.196.126-.039.029-.084.044-.12.079l-.012.011-.002.002-8.023 7.751a1 1 0 001.389 1.438l6.343-6.127v21.51a.998.998 0 00.999 1.001z"/></svg>
            input#image(type="file" value="" name="image")
        fieldset(class="form-text")
            legend Summary
            label(for="title") Title
            input#title(type="text" name="title" value=gallery.title )
        fieldset(class="form-select")
            legend Select
            label(for="tag") alt text
                if (locals.tags)
                    select(name="tag")
                        each item in locals.tags
                            option(value=item.tag ) #{item.tag}
                else
                    select(name="tag")
                        option(value=gallery.tag ) #{gallery.tag}
        fieldset(class="form-textbox") 
            legend Description   
            label(for="description") alt text
            textarea#description(name="description") #{gallery.description}
        fieldset(class="form-radio--group")
            legend Status 
            label(for="radio1")
                | Publish
                input#radio1(type="radio" value="true" name="publish" checked=(gallery.publish === true ? "checked" : undefined))
            label(for="radio2")
                | Review
                input#radio2(type="radio" value="false" name="publish" checked=(gallery.publish === false ? "checked" : undefined))
        input(class="btn submit" type="submit" value="SUBMIT")
        
    