extends ../tmpl.pug
block main
    h1 Edit: #{title}
    - const renderBreakpoints = locals.templateFn
    figure(class="admin-image center")
        img(sizes="(min-width: 1140px) 25vw, (min-width:500px) 50vw, 100vw"
        srcset=`${renderBreakpoints(gallery.image.breakpoints)}`
        src=gallery.image.secure_url
        alt=gallery.description)
    form(class="form" action="/admin/edit" method="POST" enctype="multipart/form-data" accept="image/*")
        input(type="hidden" name="galleryId" value=gallery._id )
        fieldset
            label(for="image") Image
            input#image(type="file" value="" name="image")
        fieldset(class="form-text")
            legend Summary
            label(for="title") Title
            input#title(type="text" name="title" value=gallery.title )
        fieldset(class="form-select")
            legend Select
            label(for="tag") alt text
                if (locals.tags)
                    select(name="tag")
                        each item in locals.tags
                            option(value=item.tag ) #{item.tag}
                else
                    select(name="tag")
                        option(value=gallery.tag ) #{gallery.tag}
        fieldset(class="form-textbox") 
            legend Description   
            label(for="description") alt text
            textarea#description(name="description") #{gallery.description}
        fieldset(class="form-radio--group")
            legend Status 
            label(for="radio1")
                | Publish
                input#radio1(type="radio" value="true" name="publish" checked=(gallery.publish === true ? "checked" : undefined))
            label(for="radio2")
                | Review
                input#radio2(type="radio" value="false" name="publish" checked=(gallery.publish === false ? "checked" : undefined))
        input(class="btn submit" type="submit" value="SUBMIT")
        
    