extends ../tmpl.pug

block main
    h1 Admin page
    nav(class="nav-group")
        a(class="btn admin" href="/admin/create") Add Entry
        a(class="btn admin" href="/admin/tag") Add Category Tag

    section(class="admin-tools")
        - const renderBreakpoints = locals.templateFn
        if !locals.gallery.length 
            h2 empty Admin
        else
            each item in locals.gallery.length ? locals.gallery : ["Empty"]
                div(class="admin-item")
                    figure(class="admin-image")
                        img(sizes="(min-width: 1140px) 25vw, (min-width:500px) 50vw, 100vw"
                        srcset=`${renderBreakpoints(item.image.breakpoints)}`
                        src=item.image.secure_url
                        alt=item.description
                        data-image=item.image.public_id)
                        figcaption= item.title 
                    div(class="btn-group")
                        a(class="btn admin" href="/admin/edit/" + item._id) Edit file
                        a(class="btn warning" href="/admin/delete/" + item._id) Delete file