extends tmpl.pug

block main
    h1 #{title}
    if (locals.tags)
      nav
        each item in locals.tags
          a(class="btn" href="/category/" + String(item.tag).split(" ").join("-").toLowerCase()) #{item.tag}
    else 
      p No tags yet
    section(class="grid")
        - let index = 0;
        - let imageIndex = 1;
        - const renderBreakpoints = locals.templateFn
        if !locals.gallery.length 
          h2 empty gallery
        else
          each item in locals.gallery.length ? locals.gallery : ["Empty"]
              figure(class=`item-${index = (index <= 10 ? index + 1 : 0)}`)
                  img(sizes="(min-width: 1140px) 25vw, (min-width:500px) 50vw, 100vw"
                  data-type="lazy"
                  data-srcset=`${renderBreakpoints(item.image.breakpoints)}`
                  data-src=item.image.secure_url
                  srcset=`${renderBreakpoints(item.image.breakpoints)}`
                  src="blank.gif"
                  alt=item.description
                  width="640"
                  height="480")
                  figcaption=item.title
                  span=imageIndex < 10 ? "0" + imageIndex++ : imageIndex++ 